* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}


body {
  background-color: #373f57 ;
}

header {
    width: 100%;
    height: 30%;
    background-color: rgb(7, 6, 9);
}

  
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    gap: 20px;
}

ul a {
    color: antiquewhite;
}

#hero {
    width: 500px;
    height: 300px;
    border-radius: 2rem;
    margin: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 20px;

}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-slogan {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.hero-a {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 15px;
}

.hero-a1 {
    background-color:rgb(82, 79, 89);
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    color: white;
}

.hero-a2 {
    background-color: aliceblue;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    border: 1px solid rgb(82, 79, 89);
    color:rgb(82, 79, 89) ;
}

.hero-p {
    color: rgb(82, 79, 89);
    gap: 10px;
}

h2 {
    padding:  5px;
    color: rgb(82, 79, 89);
}

.descrip {
width: 50%;
height: 50%;
background-color: aliceblue;
color: rgb(82, 79, 89);
padding: 20px;
margin-top: 20px;
border-radius: 10px;

}